################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe:cmmi
url = http://download.osgeo.org/geos/geos-3.0.3.tar.bz2
md5sum=c6a1f4d82fa9219e7ee799c784347681
